#!/bin/bash
#/opt/kafka/bin/kafka-topics.sh --create --topic {{ topic }}   --zookeeper {{ zookeeper_brokers }} --replication-factor {{ max_repl }} --partitions 1 

# do not keep 'RawGbt' message more than 12 hours
#/opt/kafka/bin/kafka-topics.sh --zookeeper {{ zookeeper_brokers }} --alter --topic RawGbt       --config retention.ms=43200000
# 'CommonEvents': 24 hours
#/opt/kafka/bin/kafka-topics.sh --zookeeper {{ zookeeper_brokers }} --alter --topic CommonEvents --config retention.ms=86400000
